<%- include("header"); -%>

<main>
    <article>
        <ul class="post-list">
            <li><img src="<%=image%>"></li>
            <li><h class="article-title"><%=textTitle%></h></li>
            <li>
                <div class="text-side">
                    <p class="article-text"><%=textPost%></p>
                </div>
            </li>
            <li><p><%= time %></p></li>
        </ul>
        
       
    </article>
</main>


<%- include("footer"); -%>